<div class="reset-password-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <h2>Reset Password</h2>
  
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword" type="password" formControlName="newPassword" placeholder="Enter new password" />
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
          <small>Password must be at least 6 characters long.</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm new password" />
        <div *ngIf="resetPasswordForm.errors?.['mismatch'] && resetPasswordForm.get('confirmPassword')?.touched">
            <small>Passwords do not match.</small>
          </div>
      </div>
  
      <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
  
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>
  
